*{
    margin: 8px;
    padding: 8px;
}
body{
    background-color: #424949;
    color: aliceblue;

}
h1{
    text-align: center;
    padding: 10px;
}
img{
    width: 80%;
    height: auto;
    
}